server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**, /api/users/**, /api/admin/users/**
        - id: session-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/sessions/**, /topic/**, /app/**, /chat/**, /api/admin/sessions/**, /api/content/**, /ws/**
        - id: ai-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/reports/**, /api/ai/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
